{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block title %} {% endblock title %}

    <link rel="shortcut icon" href="{% static 'dist/img/arcotama-favicon.ico' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="{% static 'dist/css/stylescss.css' %}" />
    <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.10.5/dist/cdn.min.js"></script>
    <!-- <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor/ckeditor.js' %}"></script> -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,900;1,100;1,200;1,300;1,500;1,600;1,900&display=swap");
    </style>
  </head>
  <body class="bg-white" x-data>
    <header class="absolute bg-transparent w-full top-0 left-0 flex justify-center items-center z-50">
      <div class="container md:px-16">
        <div class="flex items-center justify-center md:justify-between relative">
          <div class="py-4 md:px-8 md:py:2 lg:px-16 lg:py-4">
            <a href="#" class="text-red-700 font-medium text-base flex items-center justify-center"><img src="{% static 'dist/img/arcotama-logo.png' %}" class="w-24 lg:w-36" alt="" /></a>
          </div>
          <div class="px-2 py-4 flex items-center">
            <button id="humberger" name="humberger" class="block absolute scale-75 right-4 md:hidden">
              <span class="bg-red-700 h-[2px] w-[30px] my-2 block origin-top-left transition duration-300 ease-in-out"></span>
              <span class="bg-red-700 h-[2px] w-[30px] my-2 block transition duration-300 ease-in-out"></span>
              <span class="bg-red-700 h-[2px] w-[30px] my-2 block origin-bottom-left transition duration-300 ease-in-out"></span>
            </button>
            <nav id="navbar" class="hidden absolute py-2 bg-slate-50 rounded-l-lg shadow-md max-w-[200px] w-full right-11 top-11 md:block md:static md:bg-transparent md:max-w-full md:shadow-none md:rounded-none">
              <ol class="block w-full md:flex md:justify-end">
                <li class="group flex flex-wrap hover:bg-red-700 transition duration-200">
                  <a class="text-xs xl:text-sm py-2 mx-2 lg:mx-8 font-light group-hover:text-slate-50 md:text-red-700 md:font-semibold transition duration-200" href="{% url 'index' %}">HOME</a>
                  <div class="h-[2px] w-full bg-red-700 hidden"></div>
                </li>
                <li class="group flex flex-wrap hover:bg-red-700">
                  <a class="text-xs xl:text-sm py-2 mx-2 lg:mx-8 font-light group-hover:text-slate-50 md:text-red-700 md:font-semibold" href="{% url 'about' %}">ABOUT</a>
                  <div class="h-[2px] w-full bg-red-700 hidden"></div>
                </li>
                <li class="group flex flex-wrap hover:bg-red-700">
                  <a class="text-xs xl:text-sm py-2 mx-2 lg:mx-8 font-light group-hover:text-slate-50 md:text-red-700 md:font-semibold" href="{% url 'product' %}">PRODUCTS</a>
                  <div class="h-[2px] w-full bg-red-700 hidden"></div>
                </li>
                <li class="group flex flex-wrap hover:bg-red-700">
                  <a class="text-xs xl:text-sm py-2 mx-2 lg:mx-8 font-light group-hover:text-slate-50 md:text-red-700 md:font-semibold" href="{% url 'project' %}">PROJECTS</a>
                  <div class="h-[2px] w-full bg-red-700 hidden"></div>
                </li>
                <li class="group flex flex-wrap hover:bg-red-700">
                  <a class="text-xs xl:text-sm py-2 mx-2 lg:mx-8 font-light group-hover:text-slate-50 md:text-red-700 md:font-semibold" href="{% url 'event' %}">EVENTS</a>
                  <div class="h-[2px] w-full bg-red-700 hidden"></div>
                </li>
                <li class="group flex flex-wrap hover:bg-red-700">
                  <a class="text-xs xl:text-sm py-2 mx-2 lg:mx-8 font-light group-hover:text-slate-50 md:text-red-700 md:font-semibold" href="{% url 'contact' %}">CONTACT</a>
                  <div class="h-[2px] w-full bg-red-700 hidden"></div>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </header>

    {% block content %} {% endblock content %}

    <!-- Footer -->

    {% include 'snippets/footer.html' %}

    <!-- Script -->
    <script src="{% static 'dist/js/script.js' %}"></script>
  </body>
</html>
