{% extends 'base.html' %} {% block title %}
<title>Contact - Arcotama Indo Teknik</title>
{% endblock title %} {% block content %}

<section class="min-h-screen flex flex-col items-center md:px-16 mt-36">
  <h1 class="text-2xl md:text-4xl text-slate-900 font-light text-center mb-5">Get in <span class="font-semibold text-red-700">Touch</span></h1>
  <p class="text-base md:text-lg text-slate-500 font-extralight text-center">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus sed laudantium, debitis architecto neque doloremque alias possimus nesciunt veniam explicabo harum aut dolore ipsa. Nemo cupiditate exercitationem eligendi minus
    veritatis?
  </p>
  <hr class="bg-slate-500 w-full m-10 text-center max-w-5xl" />
  <div class="flex flex-col md:flex-row md:justify-between space-y-16 md:space-y-0 md:space-x-3 md:w-[80%]">
    <div class="md:w-1/2 bg-slate-200 shadow-xl p-5">
      <form action="" class="space-y-2 flex flex-col">
        <input type="text" name="name" class="p-3 bg-white rounded-sm placeholder:text-sm placeholder:font-light" placeholder="Your name" required />
        <input type="text" name="name" class="p-3 bg-white rounded-sm placeholder:text-sm placeholder:font-light" placeholder="Your company" required />
        <input type="email" name="name" class="p-3 bg-white rounded-sm placeholder:text-sm placeholder:font-light" placeholder="Your email" required />
        <input type="email" name="name" class="p-3 bg-white rounded-sm placeholder:text-sm placeholder:font-light" placeholder="Your subject" required />
        <textarea type="text" name="name" class="p-3 bg-white rounded-sm placeholder:text-sm placeholder:font-light h-48" placeholder="Your message" required></textarea>
        <div class="bg-slate-300 w-44 h-16 flex justify-center items-center">CAPCTHA</div>
        <button class="bg-red-700 hover:bg-red-800 rounded-sm p-3 text-white font-normal hover:font-semibold flex items-center justify-center space-x-2"><span>SEND</span></button>
      </form>
    </div>
    <div class="md:w-1/2 flex items-start bg-slate-200 justify-end">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7932.542726287859!2d106.99529657166103!3d-6.227909466417678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e698c1e892c5573%3A0x292f03419da470d7!2sRuko%20Sinpasa!5e0!3m2!1sid!2sid!4v1674067659080!5m2!1sid!2sid"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="w-full h-full"
      ></iframe>
    </div>
  </div>
</section>
<!-- Start of Subscribe Form -->
<section class="mt-24 mb-10 md:px-16 flex items-center justify-center flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-2">
  <div class="border-4 border-slate-700 rounded-r-2xl rounded-bl-2xl w-[70%] md:w-1/4 md:min-w-[25%] h-36 flex flex-col justify-center text-red-700 text-center p-3">
    <div class="text-center my-2 flex justify-center scale-150">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" class="text-center block" />
      </svg>
    </div>
    <p class="text-sm md:text-base font-semibold text-slate-700 text-start">Address</p>
    <p class="text-xs md:text-sm font-light text-slate-500 text-start">PT. Arcotama Indo Teknik</p>
    <p class="text-xs md:text-sm font-light text-slate-500 text-start">RUKO SINPASA B 53 SUMMARECON BEKASI</p>
  </div>
  <div class="border-4 border-slate-700 rounded-r-2xl rounded-bl-2xl w-[70%] md:w-1/4 md:min-w-[25%] h-36 flex flex-col justify-center text-red-700 text-center p-3">
    <div class="text-center my-2 flex justify-center scale-150">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0l6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z"
        />
      </svg>
    </div>
    <p class="text-sm md:text-base font-semibold text-slate-700 text-start">Call Us</p>
    <p class="text-xs md:text-sm font-light text-slate-500 text-start">(021) – 883 47 430</p>
    <p class="text-xs md:text-sm font-light text-slate-500 text-start">+62 81380225805</p>
  </div>
  <div class="border-4 border-slate-700 rounded-r-2xl rounded-bl-2xl w-[70%] md:w-1/4 md:min-w-[25%] h-36 flex flex-col justify-center text-red-700 text-center p-3">
    <div class="text-center my-2 flex justify-center scale-150">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
        />
      </svg>
    </div>
    <p class="text-sm md:text-base font-semibold text-slate-700 text-start">E-mail</p>
    <p class="text-xs md:text-sm font-light text-slate-500 text-start">rinaldo.krisna@arcotama.net</p>
  </div>
</section>
{% endblock content %}
