{% extends 'base.html' %} {% block title %}
<title>News - Arcotama Indo Teknik</title>
{% endblock title %} {% block content %}
<section class="min-h-screen flex flex-col md:flex-row md:space-x-5 mt-24 md:px-16 justify-center items-start mb-10 relative">
  <!-- card -->
  <div class="bg-red-700 md:h-96 md:w-56 text-white p-10 md:shadow-xl">
    <h1 class="text-3xl font-bold mt-3 mb-5 tracking-widest">EVENTS</h1>
    <p class="text-xs font-light">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum reiciendis, nostrum adipisci molestiae officia et distinctio asperiores modi dolorem, placeat quisquam iusto, quia libero! Tempora magni dolores ratione accusamus hic.
    </p>
  </div>

  <div class="w-1 h-48 bg-slate-500 rounded-full opacity-0 md:opacity-100"></div>

  <div class="flex flex-col space-y-8">
    <div class="bg-slate-200 rounded-bl-2xl p-10 shadow-xl">
      <h1 class="text-2xl font-semibold text-slate-900 mb-3">Lorem, ipsum dolor.</h1>
      <p class="text-xxs font-extralight text-slate-700 mb-3">Jakarta, 31 Juli 2022</p>
      <p class="text-sm font-light text-slate-700">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nostrum assumenda consequatur aperiam cumque necessitatibus error reiciendis, tempore distinctio laboriosam, autem rerum nam inventore a blanditiis explicabo eligendi
        sequi aliquam. Dignissimos doloribus, quasi vel aliquid, sunt repellendus est accusamus laudantium soluta error labore magnam nisi, facere sapiente. Voluptates deserunt porro error, dicta, reprehenderit, provident accusantium quis
        asperiores inventore repellendus optio? Facilis deserunt ratione mollitia, officiis nihil nisi commodi id vel vero, quaerat dolore animi enim modi. Velit cumque, dicta culpa error distinctio saepe impedit nihil ab dolores
        reiciendis, esse sint? Tenetur delectus necessitatibus quis ipsam assumenda suscipit, facilis quod, molestiae, in aut sunt. Facere tempora, id quis ratione, quibusdam assumenda voluptatibus recusandae fuga nobis suscipit fugiat
        reiciendis sequi ab accusantium. Fuga consequuntur doloremque corporis quisquam ipsa enim dolore consequatur distinctio, rem veritatis aliquam voluptatibus dignissimos sit maiores commodi possimus quae dolor eum earum minus! Tempora
        aliquam exercitationem omnis. Atque, cupiditate?
      </p>
    </div>
    <div class="bg-slate-200 rounded-bl-2xl p-10 shadow-xl">
      <h1 class="text-2xl font-semibold text-slate-900 mb-3">Lorem, ipsum dolor.</h1>
      <p class="text-xxs font-extralight text-slate-700 mb-3">Jakarta, 31 Juli 2022</p>
      <p class="text-sm font-light text-slate-700">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nostrum assumenda consequatur aperiam cumque necessitatibus error reiciendis, tempore distinctio laboriosam, autem rerum nam inventore a blanditiis explicabo eligendi
        sequi aliquam. Dignissimos doloribus, quasi vel aliquid, sunt repellendus est accusamus laudantium soluta error labore magnam nisi, facere sapiente. Voluptates deserunt porro error, dicta, reprehenderit, provident accusantium quis
        asperiores inventore repellendus optio? Facilis deserunt ratione mollitia, officiis nihil nisi commodi id vel vero, quaerat dolore animi enim modi. Velit cumque, dicta culpa error distinctio saepe impedit nihil ab dolores
        reiciendis, esse sint? Tenetur delectus necessitatibus quis ipsam assumenda suscipit, facilis quod, molestiae, in aut sunt. Facere tempora, id quis ratione, quibusdam assumenda voluptatibus recusandae fuga nobis suscipit fugiat
        reiciendis sequi ab accusantium. Fuga consequuntur doloremque corporis quisquam ipsa enim dolore consequatur distinctio, rem veritatis aliquam voluptatibus dignissimos sit maiores commodi possimus quae dolor eum earum minus! Tempora
        aliquam exercitationem omnis. Atque, cupiditate?
      </p>
    </div>
    <div class="bg-slate-200 rounded-bl-2xl p-10 shadow-xl">
      <h1 class="text-2xl font-semibold text-slate-900 mb-3">Lorem, ipsum dolor.</h1>
      <p class="text-xxs font-extralight text-slate-700 mb-3">Jakarta, 31 Juli 2022</p>
      <p class="text-sm font-light text-slate-700">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nostrum assumenda consequatur aperiam cumque necessitatibus error reiciendis, tempore distinctio laboriosam, autem rerum nam inventore a blanditiis explicabo eligendi
        sequi aliquam. Dignissimos doloribus, quasi vel aliquid, sunt repellendus est accusamus laudantium soluta error labore magnam nisi, facere sapiente. Voluptates deserunt porro error, dicta, reprehenderit, provident accusantium quis
        asperiores inventore repellendus optio? Facilis deserunt ratione mollitia, officiis nihil nisi commodi id vel vero, quaerat dolore animi enim modi. Velit cumque, dicta culpa error distinctio saepe impedit nihil ab dolores
        reiciendis, esse sint? Tenetur delectus necessitatibus quis ipsam assumenda suscipit, facilis quod, molestiae, in aut sunt. Facere tempora, id quis ratione, quibusdam assumenda voluptatibus recusandae fuga nobis suscipit fugiat
        reiciendis sequi ab accusantium. Fuga consequuntur doloremque corporis quisquam ipsa enim dolore consequatur distinctio, rem veritatis aliquam voluptatibus dignissimos sit maiores commodi possimus quae dolor eum earum minus! Tempora
        aliquam exercitationem omnis. Atque, cupiditate?
      </p>
    </div>
  </div>
</section>
{% endblock content %}
